<!DOCTYPE html>
<html>
<head>
  <title>Oly</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">  
	  <% if current_user %>  
	    Welcome, <%= current_user.name %>!  
	  <% else %>  
	    <%= link_to "Sign in with Twitter", "/auth/twitter" %>  
	  <% end %>  
	</div>
  <%= yield %>
</body>
</html>
